
<QWidget layout='QVBoxLayout()' padding='0' fixedWidth='200'>
  <StyleSheet args='../inkwell.sass'/>
  <QWidget layout='QVBoxLayout()' class='inkwell'>
    <DropShadow args='(0,5,20,128)'/>
    <QLabel text='CPU Widget'/>
  </QWidget>
</QWidget>
