
<QWidget layout='QVBoxLayout()' padding='0' fixedWidth='data.inkwell.settings.width'>
  <StyleSheet args='../inkwell.sass'/>
  <QWidget layout='QVBoxLayout()' class='inkwell'>
    <Set style='f"border-radius:{data.inkwell.settings.borderRadius}px;"'/>
    <DropShadow args='(0,5,20,128)'/>
    <QLabel text='CPU Widget'/>
  </QWidget>
</QWidget>
