
QWidget {
  /* border: 1px solid rgba(255,0,0,0.1); */
}
#desktop {
  background-color: rgba(0,0,0,0.5);
  border-radius: 5px;
}
#desktop QLabel {
  color: #fff;
}
#desktop #toolbar QPushButton {
  border: rgba(0,0,0,0);
  color: #fff;
  font-family: 'Material Design Icons';
  font-size: 16px;
  margin: 0px;
}
#desktop #toolbar QPushButton:hover {
  color: #ddd;
  
}
