
<QWidget layout='QVBoxLayout' geometry='(200,200,200,200)'>
  <QWidget id='desktop'>
    <Set layout='QVBoxLayout' layout.contentsMargins='(10,10,10,10)' layout.spacing='10' />
    
    <!-- Content -->
    <QLabel text='Not a plugin.' />

    <Stretch/>
  </QWidget>
</QWidget>
