
<QWidget layout='QVBoxLayout' geometry='(200,200,200,200)'>
  <QWidget id='desktop' layout='QVBoxLayout' padding='0' spacing='10'>
    
    <!-- Content -->
    <QLabel text='Not a plugin.'/>
    <Stretch/>
    
  </QWidget>
</QWidget>
