
<QWidget layout='QVBoxLayout' layout.spacing='20'>
  <QWidget layout='QHBoxLayout' layout.contentsMargins='(0,0,0,0)'>
    <QLabel text='Monitor'/>
    <QComboBox>
      <Repeater for='i in 3'>
        <Item args='Hi Mom!'/>
      </Repeater>
    </QComboBox>
  </QWidget>
  <QWidget layout='QHBoxLayout' layout.contentsMargins='(0,0,0,0)'>
    <QLabel text='Position'/>
    <QComboBox/>
  </QWidget>
</QWidget>
