
<QWidget layout='QVBoxLayout' geometry='(0,0,600,500)'>
  <Set attribute='Qt.WA_TranslucentBackground'/>
  <Set layout.contentsMargins='(0,0,0,0)'/>
  <Set windowFlags='Qt.Dialog | Qt.FramelessWindowHint'/>
  <Set windowModality='Qt.ApplicationModal'/>
  <Set windowTitle='APPNAME+" Settings"'/>
  <QWidget id='settings' layout='QVBoxLayout' layout.contentsMargins='(15,10,15,15)'>
    <TitleBar id='titlebar' title='APPNAME+" Settings"'/>

    <!-- Side Panel -->
    <QWidget layout='QHBoxLayout' layout.spacing='20'>
      <Set layout.contentsMargins='(0,0,0,0)'/>
      <QWidget id='sidepanel' layout='QVBoxLayout'>
        <Set layout.contentsMargins='(0,0,0,0)' layout.spacing='0'/>
        <!-- General Settings -->
        <QPushButton id='applicationsettings' text='Application Settings'>
          <Set property='(class,selected)'/>
          <Connect clicked='generalSettingsClicked'/>
        </QPushButton>
        <Spacing args='20'/>
        <!-- Available Plugins -->
        <QLabel text='Available Plugins'/>
        <Spacing args='3'/>
        <QComboBox id='pluginlist'>
          <Connect currentIndexChanged='updateComponentList'/>
          <Repeater for='plugin' in='app.plugins.values()'>
            <Item args='(plugin.name,plugin.varname)'/>
          </Repeater>
        </QComboBox>
        <!-- Component List -->
        <QListWidget id='componentlist'>
          <Connect itemClicked='updateContent'/>
        </QListWidget>
      </QWidget>

      <!-- Settings -->
      <QWidget id='contentwrap' layout='QVBoxLayout'>
        <Set layout.contentsMargins='(0,0,0,0)' layout.spacing='0'/>
        <QWidget id='content' layout='QVBoxLayout'>
          <Set layout.contentsMargins='(0,0,0,0)'/>
          <!-- Application Settings - Content replaced when selecting a plugin and component. -->
          <QWidget id='appsettings' layout='QVBoxLayout' layout.spacing='20'>
            <QLabel text='Application settings not yet defined.'/>
          </QWidget>
        </QWidget>
        <Stretch/>
      </QWidget>
    </QWidget>
  
  </QWidget>
</QWidget>
