
<QWidget layout='QVBoxLayout' geometry='(0,0,600,500)'>
  <QWidget id='settings' layout='QVBoxLayout' layout.contentsMargins='(15,10,15,15)'>
    <TitleBar id='titlebar'/>

    <!-- Side Panel -->
    <QWidget layout='QHBoxLayout' layout.spacing='20'>
      <Set layout.contentsMargins='(0,0,0,0)'/>
      <QWidget id='sidepanel' layout='QVBoxLayout'>
        <Set layout.contentsMargins='(0,0,0,0)' layout.spacing='0'/>
        <QPushButton id='generalbtn' text='General Settings'>
          <Set property='(class,selected)'/>
          <Connect clicked='generalSettingsClicked' />
        </QPushButton>
        <Spacing args='20'/>
        <QLabel text='Available Plugins' />
        <QListWidget id='pluginlist' dragDropMode='QAbstractItemView.InternalMove'>
          <Connect dropEvent='pluginDropEvent' />
          <Connect mouseReleaseEvent='pluginMouseReleaseEvent' />
        </QListWidget>
        <Spacing args='5'/>
        <QLabel text='Drag to reorder plugins.' property='(class,subtext)'/>
      </QWidget>

      <!-- Settings -->
      <QWidget id='content-wrap' layout='QVBoxLayout'>
        <Set layout.contentsMargins='(0,0,0,0)' layout.spacing='0' />
        <QLabel id='plugintitle' />
        <QWidget id='content' layout='QVBoxLayout'>
          <Set layout.contentsMargins='(0,0,0,0)' />
        </QWidget>
        <Stretch/>
      </QWidget>
    </QWidget>
  
  </QWidget>
</QWidget>
