<QWidget layout='QVBoxLayout()' geometry='(0,0,350,0)' padding='0'>
  <StyleSheet args='../inkwell.sass'/>
  <Set attribute='Qt.WA_TranslucentBackground'/>
  <Set windowFlags='Qt.Dialog | Qt.FramelessWindowHint'/>
  <Set windowTitle='APPNAME+" Settings"'/>
  <QWidget id='colorpicker' class='appwindow' layout='QVBoxLayout()' padding='1' spacing='0'>
    
    <!-- TitleBar -->
    <TitleBar args='self' layout='QHBoxLayout()' padding='(10,10,10,10)'>
      <QLabel text='Color Picker'/>
      <Stretch/>
      <QPushButton text='󰅖' class='close'>
        <Connect clicked='close'/>
      </QPushButton>
    </TitleBar>

    <!--Current Color -->
    <QWidget id='currentcolor'/>
    
    <!-- Selection Options -->
    <QWidget id='options' layout='QVBoxLayout()' padding='15,5,15,15'>
      <!-- Hex Color -->
      <QWidget layout='QHBoxLayout()' padding='0,10'>
        <QLineEdit id='hex' text='#ffffff'/>
      </QWidget>
      <!-- HSB Sliders -->
      <ColorSlider id='hue' range='0,360'>
        <Connect valueChanged='hueChanged'/>
      </ColorSlider>
      <ColorSlider id='saturation' range='0,100'>
        <Connect valueChanged='saturationChanged'/>
      </ColorSlider>
      <ColorSlider id='brightness' range='0,100'>
        <Connect valueChanged='brightnessChanged'/>
      </ColorSlider>
      <ColorSlider id='opacity' range='0,100'>
        <Connect valueChanged='opacityChanged'/>
      </ColorSlider>
    </QWidget>
  </QWidget>
</QWidget>

