
<QWidget layout='QVBoxLayout()' spacing='20'>

  <!-- Widget Width -->
  <QWidget layout='QHBoxLayout()' padding='0' spacing='20' class='formfield'>
    <QLabel text='Widget Width'/>
    <NumSlider id='width' range='(100,300)' value='180'>
      <Connect valueChanged='widthChanged'/>
    </NumSlider>
  </QWidget>

  <!-- Border Radius -->
  <QWidget layout='QHBoxLayout()' padding='0' spacing='20' class='formfield'>
    <QLabel text='Border Radius'/>
    <NumSlider id='borderRadius' range='(0,50)' value='5'>
      <Connect valueChanged='borderRadiusChanged'/>
    </NumSlider>
  </QWidget>

  <!-- Background Color -->
  <!-- <QWidget layout='QHBoxLayout()' padding='0' spacing='20' class='formfield'>
    <QLabel text='Background Color'/>
    <ColorButton id='backgroundColor'>
      <Connect colorChanged='backgroundColorChanged'/>
    </ColorButton>
    <Stretch/>
  </QWidget> -->

  <Stretch/>
</QWidget>
