<widget name='about' size='200,265'>
  <spacing size='15'/>
  <label name='title' text='PKMeter' align='center'/>
  <label id='version' name='version' text='' align='center'/>
  <label name='subtitle' text='Desktop System Monitor' align='center'/>
  <label name='copyright' text='Copyright © 2014 M.Shepanski' align='center'/>
  <label name='qt' id='qt' text='' align='center' style='margin-bottom:15px;'/>
  <hframe><stretch/>
    <pushbutton text='Close' click='hide'/>
  <stretch/></hframe>
  <stretch/>
</widget>
