<vframe>
  <!-- Enable -->
  <vframe id='controlgroup_enabled' name='controlgroup'>
    <hframe>
      <label name='label' text='Enabled:'/>
      <toggleswitch id='enabled'/>
      <stretch/>
    </hframe>
  </vframe>
  <!-- Update Interval -->
  <vframe id='controlgroup_interval' name='controlgroup'>
    <hframe>
      <label name='label' text='Interval:'/>
      <QLineEdit id='interval' name='input_small'/>
      <label id='status_interval' name='status'/>
      <stretch/>
    </hframe>
    <label id='help_interval' name='help' wrap='true' text='Seconds between plugin updates.'/>
  </vframe>
  <!-- Calendar 1 -->
  <vframe id='controlgroup_cal1' name='controlgroup'>
    <hframe>
      <label name='label' text='Calendar URL:'/>
      <QLineEdit id='cal1' name='input_xxlarge'/>
      <pushbutton id='color1' name='btn_small' click='btn_color' data='{"color":"#ffffff"}'>
        <hframe name='color'/>
      </pushbutton>
      <label id='status_cal1' name='status'/>
      <stretch/>
    </hframe>
    <label id='help_cal1' name='help' wrap='true' text='Private iCal address for this calendar.'/>
  </vframe>
  <!-- Calendar 2 -->
  <vframe id='controlgroup_cal2' name='controlgroup'>
    <hframe>
      <label name='label' text='Calendar URL:'/>
      <QLineEdit id='cal2' name='input_xxlarge'/>
      <pushbutton id='color2' name='btn_small' click='btn_color' data='{"color":"#ffffff"}'>
        <hframe name='color'/>
      </pushbutton>
      <label id='status_cal2' name='status'/>
      <stretch/>
    </hframe>
    <label id='help_cal2' name='help' wrap='true' text='Private iCal address for this calendar.'/>
  </vframe>
  <!-- Calendar 3 -->
  <vframe id='controlgroup_cal3' name='controlgroup'>
    <hframe>
      <label name='label' text='Calendar URL:'/>
      <QLineEdit id='cal3' name='input_xxlarge'/>
      <pushbutton id='color3' name='btn_small' click='btn_color' data='{"color":"#ffffff"}'>
        <hframe name='color'/>
      </pushbutton>
      <label id='status_cal3' name='status'/>
      <stretch/>
    </hframe>
    <label id='help_cal3' name='help' wrap='true' text='Private iCal address for this calendar.'/>
  </vframe>
  <!-- Calendar 4 -->
  <vframe id='controlgroup_cal4' name='controlgroup'>
    <hframe>
      <label name='label' text='Calendar URL:'/>
      <QLineEdit id='cal4' name='input_xxlarge'/>
      <pushbutton id='color4' name='btn_small' click='btn_color' data='{"color":"#ffffff"}'>
        <hframe name='color'/>
      </pushbutton>
      <label id='status_cal4' name='status'/>
      <stretch/>
    </hframe>
    <label id='help_cal4' name='help' wrap='true'
      text='Private iCal address for this calendar.'/>
  </vframe>
  <!-- Calendar 5 -->
  <vframe id='controlgroup_cal5' name='controlgroup'>
    <hframe>
      <label name='label' text='Calendar URL:'/>
      <QLineEdit id='cal5' name='input_xxlarge'/>
      <pushbutton id='color5' name='btn_small' click='btn_color' data='{"color":"#ffffff"}'>
        <hframe name='color'/>
      </pushbutton>
      <label id='status_cal5' name='status'/>
      <stretch/>
    </hframe>
    <label id='help_cal5' name='help' wrap='true' text='Private iCal address for this calendar.'/>
  </vframe>
  <stretch/>
</vframe>
