<vframe>
  <!-- Enable -->
  <vframe id='controlgroup_enabled' name='controlgroup'>
    <hframe>
      <label name='label' text='Enabled:'/>
      <toggleswitch id='enabled'/>
      <stretch/>
    </hframe>
  </vframe>
  <!-- Update Interval -->
  <vframe id='controlgroup_interval' name='controlgroup'>
    <hframe>
      <label name='label' text='Interval:'/>
      <QLineEdit id='interval' name='input_small'/>
      <label id='status_interval' name='status'/>
      <stretch/>
    </hframe>
    <label id='help_interval' name='help' wrap='true' text='Seconds between plugin updates.'/>
  </vframe>
  <!-- Host -->
  <vframe id='controlgroup_host' name='controlgroup'>
    <hframe>
      <label name='label' text='Host:'/>
      <QLineEdit id='host' name='input_xxlarge'/>
      <label id='status_host' name='status'/>
      <stretch/>
    </hframe>
    <label id='help_host' name='help' wrap='true'
      text='HTTP host of the Sickbeard webserver.'/>
  </vframe>
  <!-- API Key -->
  <vframe id='controlgroup_apikey' name='controlgroup'>
    <hframe>
      <label name='label' text='API Key:'/>
      <QLineEdit id='apikey' name='input_xxlarge'/>
      <label id='status_apikey' name='status'/>
      <stretch/>
    </hframe>
    <label id='help_apikey' name='help' wrap='true' text='Sickbeard API Key.'/>
  </vframe>
  <!-- Ignores -->
  <label name='note' wrap='true' text='* You can ignore entries via the Plex Media configuration.'/>
  <stretch/>
</vframe>
