<vframe>
  <!-- Enable -->
  <vframe id='controlgroup_enabled' name='controlgroup'>
    <hframe>
      <label name='label' text='Enabled:'/>
      <toggleswitch id='enabled'/>
      <stretch/>
    </hframe>
  </vframe>
  <!-- Update Interval -->
  <vframe id='controlgroup_interval' name='controlgroup'>
    <hframe>
      <label name='label' text='Interval:'/>
      <QLineEdit id='interval' name='input_small'/>
      <label id='status_interval' name='status'/>
      <stretch/>
    </hframe>
    <label id='help_interval' name='help' wrap='true' text='Seconds between plugin updates.'/>
  </vframe>
  <!-- API Key -->
  <vframe id='controlgroup_apikey' name='controlgroup'>
    <hframe>
      <label name='label' text='API Key:'/>
      <QLineEdit id='apikey' name='input_large'/>
      <label id='status_apikey' name='status'/>
      <stretch/>
    </hframe>
    <label id='help_apikey' name='help' wrap='true'
      text='If you do not have an API key, you can get one from http://wunderground.com/weather/api/'/>
  </vframe>
  <!-- Location -->
  <vframe id='controlgroup_query' name='controlgroup'>
    <hframe>
      <label name='label' text='Location:'/>
      <QLineEdit id='query' name='input_large'/>
      <label id='status_query' name='status'/>
      <stretch/>
    </hframe>
    <label id='help_query' name='help' wrap='true' text='Enter city, state or leave blank to auto detect.'/>
  </vframe>
  <stretch/>
</vframe>
