
<QWidget layout='QVBoxLayout' geometry='[200,200,200,200]'>
  <QWidget id='background'>
    <Set layout='QVBoxLayout' layout.contentsMargins='[10,10,10,10]' layout.spacing='10' />
    
    <!-- Toolbar -->
    <QWidget layout='QHBoxLayout'>
      <Stretch/>
      <QLabel id='foo' text='Hello!' />
      <QPushButton id='settingsButton' fixedWidth='20' text='󰢻'>
        <Connect clicked='show_settings'/>
      </QPushButton>
      <QPushButton id='closeButton' fixedWidth='20' text='󰖭'>
        <Connect clicked='quit_app'/>
      </QPushButton>
    </QWidget>
    
    <!-- Content -->
    <QLabel text='..Content..' />

    <Stretch/>
  </QWidget>
</QWidget>
