
<QWidget id='desktop' layout='QVBoxLayout' geometry='[200,200,200,200]'>
  <Set styleSheet='../resources/style.css'/>
  <QWidget id='background' layout='QVBoxLayout'>
    
    <!-- Toolbar -->
    <QWidget layout='QHBoxLayout'>
      <Stretch/>
      <QLabel text='Hello!' />
      <QPushButton id='settingsButton' fixedWidth='20' text='O' />
      <QPushButton id='closeButton' fixedWidth='20' text='X' />
    </QWidget>
    
    <!-- Content -->
    <QPushButton id='mybutton' text='Hi Mom!'>
      <Connect clicked='mybutton_clicked'/>
    </QPushButton>

    <Stretch/>
  </QWidget>
</QWidget>
