
<QWidget id='desktop' layout='QVBoxLayout' geometry='[200,200,200,200]'>
  <QWidget id='background' layout='QVBoxLayout'>
    <set layout='QVBoxLayout'/>
    <set styleSheet='../resources/style.css'/>
    <QPushButton id='mybutton' text='Hi Mom!'>
      <connect clicked='mybutton_clicked'/>
    </QPushButton>
  </QWidget>
</QWidget>
