
<QWidget layout='QVBoxLayout()' padding='0' fixedWidth='160'>
  <StyleSheet args='../inkwell.sass'/>
  <QWidget layout='QVBoxLayout()' class='inkwell'>
    <QLabel text='Clock Widget'/>
    <QLabel text='data.inkwell.clock.datetime.strftime("%Y-%m-%d %H:%M:%S")'/>
  </QWidget>
</QWidget>
