
<QWidget layout='QVBoxLayout' layout.spacing='20'>

  <!-- Monitor -->
  <QWidget layout='QHBoxLayout' layout.contentsMargins='(0,0,0,0)' layout.spacing='20'>
    <QLabel text='Widget Width'/>
    <NumSlider range='(100,300)' value='180'>
      <Connect valueChanged='_widthChanged'/>
    </NumSlider>
  </QWidget>
  
  <!-- Position -->
  <QWidget layout='QHBoxLayout' layout.contentsMargins='(0,0,0,0)'>
    <QLabel text='Position'/>
    <QComboBox>
      <Connect currentIndexChanged='setPosition'/>
      <Item args='Left'/>
      <Item args='Right'/>
    </QComboBox>
  </QWidget>

</QWidget>
